/*
   Use this file as a template to create "local.h" and customize with your own settings.
   This file is not to be committed to the repository.
*/

#define WIFI_SSID "SSID"
#define WIFI_PASS "PASSWORD"
